{% extends "layout.html" %}

{% block title %}
    Sell
{% endblock %}

{% block main %}
    <form action="/sell" method="post">
        <div class="form-group">
            <select class ="form-control" name="symbol">
                <option disabled="" selected="" value="">Symbol</option>
                {% for item in range(0, stocklist|length) %}
                    <option value = "{{ stocklist[item] }}">{{ stocklist[item] }}</option>
                {% endfor %}
            </select>
        </div>
        <div class="form-group">
            <input class="form-control" name="shares" placeholder="Shares" type="number">
        </div>
        <button class="btn btn-primary" type="submit">Sell</button>
    </form>
{% endblock %}
